
  <!-- ======= Footer ======= -->
    <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <form action="./footer" method="post">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>SoloEnvios.com</h3>
              <p>
                Malvinas Argentinas 1063 <br>
                Buenos Aires<br><br>
                <strong>Tel:</strong> +54 3407 466001<br>
                <strong>Email:</strong> rubenmontes58@gmail.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links rápidos</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/">Inicio</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="quienes">Quiénes Somos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="hacemos">Qué Hacemos</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="retiros">Pedir una Encomienda</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="tomarpedidos">Traer una Encomienda</a></li>
            </ul>
          </div>
          
            
           
  

  
  </form>
<div class="col-md-7 col-lg-8">
       
      <form action="/footer" method="post" class="needs-validation was-validated" novalidate="">
          <div class="col-12">
              <label for="email" class="form-label">E-mail <span class="text-muted"></span></label>
              <input type="email" class="form-control" name="emails" placeholder="escribe tu correo electrónico aquí">
             
              <div class="valid-feedback" id="correovalido">
      
    </div> 
    
              <div class="invalid-feedback" id="correoinvalido">
                Correo electrónico inválido!
              </div>
            </div>


          <button class="btn btn-danger" type="submit">Enviar</button>
        </form>
      <div class="copyright">
        &copy; Copyright <strong><span>Rubén Montes</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        Designed by Rubén Montes</a>
      </div>
    </div>
    

          

          


          </div>

        </div>
      </div>
    </div>

    


  
      
   

  <script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    </footer>