




    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="img/portfolio/portfolio-details-1.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="img/portfolio/portfolio-details-2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="img/portfolio/portfolio-details-3.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Nuestros servicios</h3>
              <ul>
                
                <li><strong>Paqueteria Express</strong> Realizamos entregas de forma inmediata en caso que tengas una encomienda urgente. Servicio rápido y seguro de envíos.</li>
                <li><strong>Todo tipo de paqueteria</strong> Hacer envíos de paquetería es una práctica fundamental para casi cualquier tienda en línea que venda productos físicos. Es por eso que las empresas de envíos son grandes aliados para el ecommerce y una pieza clave en su logística diaria.

Si vendes por internet o estás planeando hacerlo próximamente contar con una logística sólida en tu negocio es imprescindible para llevarlo al siguiente nivel.</li>
            
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Paqueteria Premium</h2>
              <p>
                Si sos una empresa o bien tenes un recurrente de trámites o encomiendas a realizar, ponemos a tu disposición un servicio que te dará exclusividad en tu día a día.
                
                </p>
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  
  <!-- Vendor JS Files -->
  <script src="vendor/purecounter/purecounter.js"></script>
  <script src="vendor/aos/aos.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/glightbox/js/glightbox.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/swiper/swiper-bundle.min.js"></script>
  <script src="vendor/waypoints/noframework.waypoints.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
