
  <section id="hero">
   


    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

         
        
       
    

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(img/slide/slide-1.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Bienvenidos a  <span>SoloEnvios.com</span></h2><div class="h5rojo">
{{titulo4}}
         </div>
              <p class="animate__animated animate__fadeInUp">Coordinamos para que tu envío sea más rápido, seguro y económico.</p>
              <a href="retiros" class="btn-get-started animate__animated animate__fadeInUp scrollto">Solicitar un Paquete</a>
              <a href="tomarpedidos" class="btn-get-started">Traer un Paquete</a>
            </div>
            <div class="h5blanco">
       {{titulo3}}
      
</div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(img/slide/slide-2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Brindamos un servicio de envíos online a todo el país.</h2>
              <p class="animate__animated animate__fadeInUp">A través de nuestro sitio te ofrecemos comodidad, seguridad, rapidez e información en todo momento.</p>
              <a href="hacemos" class="btn-get-started animate__animated animate__fadeInUp scrollto">Leer más</a>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(img/slide/slide-3.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Servicio de paquetería y distribución a todo el país.</h2>
              <p class="animate__animated animate__fadeInUp">Servicio exclusivamente diseñado para el transporte de documentación comercial.</p>
              <a href="quienes" class="btn-get-started animate__animated animate__fadeInUp scrollto">Leer más</a>
              
            </div>
          </div>
        </div>

      </div>
      

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
     
  </section>


























































