


<form action="./retiros" method="post"class="needs-validation was-validated" novalidate="">




















  
  
  <div class="col-md-4">
    <form action="./retiros" method="post">
    <label for="validationCustom04" class="form-label">Nombre y Apellido</label>
    <input type="text" class="form-control" id="validationCustom01" name="nombreyapellido" required>
    <div class="valid-feedback">
      Parece correcto!
      <div class="invalid-feedback">
        Completa con tus datos.

      </div>

    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Dirección para retirar Paquete</label>
    <input type="text" class="form-control" id="validationCustom02" name="dirretiro" required>
    <div class="valid-feedback">
      Parece correcto!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Provincia</label>
    <input type="text" class="form-control" id="validationCustom02" name="provincia" required>
    <div class="valid-feedback">
      Parece correcto!
    </div>
  </div>

  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Ciudad</label>
    <input type="text" class="form-control" id="validationCustom02" name="ciudad" required>
    <div class="valid-feedback">
      Parece correcto!
    </div>
  </div>

<div class="col-md-4">
    <label for="validationCustom02" class="form-label">Franja horaria de retiro del paquete</label>
    <input type="text" class="form-control" id="validationCustom02" name="hora" required>
    <div class="valid-feedback">
      Parece correcto!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Fecha para retirar el paquete</label>
    <input type="date" class="form-control" id="validationCustom02" name="fecha" required>
    <div class="valid-feedback">
      Parece correcto!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Caracteristicas del paquete: peso, volumen, etc</label>
    <input type="text" class="form-control" id="validationCustom02" name="caracteristicas" required>
    <div class="valid-feedback">
      Parece correcto!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Dni para retirar el paquete</label>
    <input type="number" class="form-control" id="validationCustom02" name="dniretiro" required>
    <div class="valid-feedback">
     Parece correcto!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Fecha de entrega del paquete</label>
    <input type="date" class="form-control" id="validationCustom02" name="fechaentrega" required>
    <div class="valid-feedback">
      Parece correcto!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Franja horaria de entrega del paquete: de mañana, de tarde, etc</label>
    <input type="text" class="form-control" id="validationCustom02" name="horaentrega" required>
    <div class="valid-feedback">
     Parece correcto!
    </div>
  </div>
  
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Dirección de entrega del paquete</label>
    <input type="text" class="form-control" id="validationCustom02" name="direntrega" required>
    <div class="valid-feedback">
      Parece correcto!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Ciudad de entrega del paquete</label>
    <input type="text" class="form-control" id="validationCustom02" name="ciudadentrega" required>
    <div class="valid-feedback">
      Parece correcto!
    </div>
  </div>
  <div class="col-md-4">
              <label for="provinciaentrega" class="form-label">Provincia de Entrega de tu paquete/encomienda</label>
              <select class="form-select" name="provinciaentrega" required="">
                <option value="">Selecciona</option>
                <option>Buenos Aires</option>
                <option>Catamarca</option>
                <option>Chaco</option>
                <option>Chubut</option>
                <option>Córdoba</option>
                <option>Corrientes</option>
                <option>Entre Ríos</option>
                <option>Formosa</option>
                <option>Jujuy</option>
                <option>La Pampa</option>
                <option>La Rioja</option>
                <option>Mendoza</option>
                <option>Misiones</option>
                <option>Neuquén</option>
                <option>Salta</option>
                <option>San Juan</option>
                <option>San Luis</option>
                <option>Santa Cruz</option>
                <option>Santa Fe</option>
                <option>Santiago del Estero</option>
                <option>Tierra del Fuego</option>
                <option>Tucumán</option>

              </select>
              <div class="valid-feedback">
      Parece correcto!
    </div>
              <div class="invalid-feedback">
                Por favor selecciona una provincia de entrega válida.

              </div>
            </div>

            

  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Precio</label>
    <input type="number" class="form-control" id="validationCustom02" name="precio" required>
    <div class="valid-feedback">
      Parece correcto!
    </div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Revisar los datos antes de enviar
      </label>
      
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-danger" type="submit">Enviar Datos</button>
    
  </div>
</form>



        </form>
        </form>
        <br>

  

<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>